<div class="ti-page-header" ng-include="'header.tpl.html'"></div>

<div class="page sources">
    <div class="content">
        <h1>
            <span class="text">
                Repositories harvested
            </span>
            <md-button href="http://api.oadoi.org/data/repositories">download as JSON</md-button>
        </h1>

        <div class="header">
            <p>
                Here's a list of the open repositories we harvest. Note that
                it includes <em>only</em> repositories, not OA journals as well
                (we've harvest several thousand of those,
                and they'll have a separate list here soon).
            </p>

            <p>
                If your repository isn't on this list, we'd love to add it! You can submit
                your repository for indexing via
                <a href="https://docs.google.com/forms/d/15o4RpUUfCUyauTt2DniLG23CWfDZ243Q1H7u6NX5zL8">
                    this form.
                </a>
            </p>

        </div>

        <div class="main">
            <div class="loading" ng-show="!repos.length">
                Loading list...
            </div>

            <h2>{{ filteredItems.length }} repositories shown</h2>

            <form class="form-inline" ng-show="repos.length">
                <md-input-container class="md-block">
                    <label>Search by institution or repository name</label>
                    <input ng-model="filterQuery">
                </md-input-container>

            </form>

            <table class="repos" ng-show="repos.length">
                <tr>
                   <th class="inst">Institution</th>
                   <th class="repo">Repository</th>
                </tr>



                <tr class="repo" ng-repeat="repo in repos | orderBy: 'institution_name' | filter: filterQuery as filteredItems">
                    <td class="inst">{{ repo.institution_name }}</td>
                    <td class="repo">
                        <a href="{{repo.home_page}}">{{ repo.repository_name }}</a>
                    
                    </td>
                </tr>

            </table>

        </div>


    </div>


</div>
<div class="footer-container" ng-include="'footer.tpl.html'"></div>