<div class="ti-page-header" ng-include="'header.tpl.html'"></div>

<div class="page sources">
    <div class="content">
        <h1>
            <span class="text">
                Sources
            </span>
        </h1>

        <div class="header">
            <p>
                Unpaywall tracks over 50,000 different sources for Open Access content, including
                Gold OA journals, Hybrid journals, institutional repositories, and disciplinary repositories.
                You can search below to see if we index a particular source, or
                <a href="http://api.oadoi.org/data/sources.csv">download the list</a> as a spreadsheet.

                <!--
                <a href="https://en.wikipedia.org/wiki/Open_access_journal">Gold OA journals,</a>
                <a href="https://en.wikipedia.org/wiki/Hybrid_open_access_journal">Hybrid OA journals,</a>
                <a href="https://en.wikipedia.org/wiki/Institutional_repository">institutional repositories,</a> and
                <a href="https://en.wikipedia.org/wiki/Disciplinary_repository">disciplinary repositories.</a>
                -->
            </p>

            <p>
                If your repository or journal isn't yet on this list, we'd love to add it! You can submit
                your repository for indexing via
                <a href="https://docs.google.com/forms/d/15o4RpUUfCUyauTt2DniLG23CWfDZ243Q1H7u6NX5zL8">
                    this form,
                </a> and submit your journal <a href="mailto:team@impactstory.org">via email.</a>
            </p>

        </div>

        <div class="main">
            <form class="form-inline">
                <div class="input-row">
                    <md-input-container class="md-block input">
                        <label>Search for an OA source</label>
                        <input ng-model="searchTerm" id="search-input">
                    </md-input-container>
                    <md-progress-circular
                            ng-show="search.waiting"
                            md-diameter="30"
                            md-mode="indeterminate"></md-progress-circular>

                </div>


            </form>

            <div class="search-results waiting-{{search.waiting}}">
                <h3 class="num-results" ng-show="search.lastTerm">
                    {{ search.results.length + search.numTruncated }} results for "{{ search.lastTerm }}"
                </h3>



                <div class="result" ng-repeat="result in search.results">
                    <div class="name">
                        <span class="name">{{result.repository_name}}</span>
                        <a href="{{result.home_page}}">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                    <div class="host">
                        {{result.institution_name}}
                    </div>
                </div>

                <div class="truncated" ng-show="search.numTruncated">
                    <div class="icon">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="msg">
                        <h3>
                            Hiding {{ search.numTruncated }} additional results matching
                            <em class="term">"{{ search.lastTerm }}"</em>
                        </h3>
                        <div class="extra-msg">
                            Try a more specific search term to narrow results further.
                        </div>
                    </div>
                </div>

            </div>







        </div>


    </div>


</div>
<div class="footer-container" ng-include="'footer.tpl.html'"></div>