<div class="ti-page-header" ng-include="'header.tpl.html'"></div>

<div class="page sources">
    <div class="content">
        <h1>
            <span class="text">
                Sources
            </span>
        </h1>

        <div class="header">
            <p>
                Unpaywall finds OA content in many ways, including using data from open indexes like Crossref and DOAJ where it exists. However, the majority of our OA content comes from independently monitoring over 50,000 unique online content hosting locations, including Gold OA journals, Hybrid journals, institutional repositories, and disciplinary repositories. You can search through our sources below, or
                <a href="https://api.oadoi.org/data/sources.csv">download the complete sources list.</a>
            </p>

            <p>
                If you'd like to add your repository or journal to our list of sources, that's great! You can submit your repository for indexing via
                <a href="https://goo.gl/forms/HBOMqdSFOHEeFOwj1">
                    this form,
                </a> and submit your journal <a href="mailto:team@impactstory.org">via email.</a>
            </p>

        </div>

        <div class="main">
            <form class="form-inline">
                <div class="input-row">
                    <md-input-container class="md-block input">
                        <label>Search for an OA source</label>
                        <input ng-model="searchTerm" id="search-input">
                    </md-input-container>
                    <md-progress-circular
                            ng-show="search.waiting"
                            md-diameter="30"
                            md-mode="indeterminate"></md-progress-circular>

                </div>


            </form>

            <div class="search-results waiting-{{search.waiting}}">
                <h3 class="num-results" ng-show="search.lastTerm">
                    {{ search.results.length + search.numTruncated }} results for "{{ search.lastTerm }}"
                </h3>



                <div class="result" ng-repeat="result in search.results">
                    <div class="name">
                        <span class="name">{{result.repository_name}}</span>
                        <a href="{{result.home_page}}">
                            <i class="fa fa-external-link"></i>
                        </a>
                    </div>
                    <div class="host">
                        {{result.institution_name}}
                    </div>
                </div>

                <div class="truncated" ng-show="search.numTruncated">
                    <div class="icon">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>
                    <div class="msg">
                        <h3>
                            Hiding {{ search.numTruncated }} additional results matching
                            <em class="term">"{{ search.lastTerm }}"</em>
                        </h3>
                        <div class="extra-msg">
                            Try a more specific search term to narrow results further.
                        </div>
                    </div>
                </div>

            </div>







        </div>


    </div>


</div>
<div class="footer-container" ng-include="'footer.tpl.html'"></div>